<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips de Ahorro</title>
    <link rel="stylesheet" href="css/15tips de ahorro.css">
    <script src="js/15tips de ahorro.js" defer></script>
</head>
<body>
    <header>
        <img src="img/logo.jpeg" alt="Money Minder Logo" class="logo">
       
        <div class="user-profile">
            <span class="user-initials">NN</span>
            <div class="user-details">
                <span>Nombre Completo Usuario</span>
                <button onclick="window.location.href='16Editar perfil.html'">Editar Perfil</button>
                <button onclick="window.location.href='24cerrar sesión.html'">Cerrar Sesión</button>
            </div>
        </div>
    </header>
    <main>
        <aside class="sidebar">
            <button class="menu-item selected no-pointer">Menú principal</button>
            <a href="6menu principal ingresos.html" class="menu-item">Ingresos</a>
            <a href="9gastos.html" class="menu-item">Gastos</a>
            <a href="12metas de ahorro.html" class="menu-item">Metas de ahorro</a>
            <a href="15tips de ahorro.html" class="menu-item selected">Tips de ahorro</a>
            <a href="18configuracion idioma.html" class="menu-item">Configuración</a>
        </aside>
        <section class="content">
            <h1>Tips de Ahorro</h1>
            <div class="tips-container">
                <img src="img/tip de ahorro 1.jpeg" alt="Tip de Ahorro 1">
                <img src="img/tip de ahorro 2.jpeg" alt="Tip de Ahorro 2">
                <img src="img/tip de ahorro 3.jpeg" alt="Tip de Ahorro 3">
                <img src="img/tip de ahorro 4.jpeg" alt="Tip de Ahorro 4">
            </div>
        </section>
 </section>
   
 
    </main>
    <footer>
        <p>© 2024 Money Minder</p>
    </footer>
</body>
</html>
