<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Minder - Bienvenido</title>
    <link rel="stylesheet" href="css/1pagina principal.css">
</head>
<body>
    <header id="index-header">
        <img src="img/logo.jpeg" alt="Money Minder Logo" class="logo">
        <nav>
            <div class="user-details">
                <button onclick="window.location.href='2inicio sesion.html'">Iniciar sesión</button>
                <button onclick="window.location.href='3crear cuenta.html'">Crear cuenta</button>
            </div>
        </nav>
    </header>
    <main id="index-main-section">
        <section class="intro">
            <h2>Money Minder</h2>
            
            <p>Estamos emocionados de tenerte como parte de nuestra
            comunidad de ahorro. En Money Minder, nuestro
            objetivo es ayudarte a alcanzar tus metas financieras
            de manera fácil y efectiva.<br> Con nuestra aplicación, podrás realizar un seguimiento de tus ingresos y gastos,
            establecer metas de ahorro personalizadas y recibir 
            consejos financieros útiles para mejorar tu situación
            económica.</p>
        </section>
        <section id="index-main-image">
            <img src="img/principalimagen.jpeg" alt="imagen principal">
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Money Minder</p>
    </footer>
    <script src="js/1pagina principal.js"></script>
</body>
</html>   

