<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación eliminar cuenta</title>
    <link rel="stylesheet" href="css/22notificacion eliminar cuenta.css">
    <script src="js/22notificación eliminar cuenta.js" defer></script>
</head>
<body>
    <div class="container">
        <img src="img/logo.jpeg" alt="Money Minder Logo" class="logo">
        <h1>Notificación eliminar cuenta</h1>
        <p>Su cuenta se ha eliminado exitosamente</p>
        <div class="button-container">
            <a href="1pagina principal.html" class="button-link">
                <button type="button">Cerrar</button>
            </a>
        </div>
    </div>
</body>
</html>